
<h3>Enter your location</h3>
<br />
<form asp-controller="Home" asp-action="GetForecast">
    <label for="city">City</label>
    <input type="text" name="city"/>
    <label for="state">State(or country)</label>
    <input type="text" name="state" />
    <button type="submit">Get Forecast</button>
</form>
