@{
}

<h2>Awesome Drunk Texting</h2>
<hr />
<a asp-controller="Home" asp-action="GetMessages">View All Messages</a>
<br />
<a asp-controller="Home" asp-action="SendMessage">Send A Message</a>
<button asp-action="GetForecast" asp-controller="Home">astronomy+weather</button>